home page
<a href="/login">login</a>
<a href="/register">register</a>
<a href="/logout">logout</a>

<div>
<%for(var i =0;i< data.length; i++){ %>
<li>
    <%= data[i].name %>
    <a href="/restaurants/<%=data[i]._id %>">read more</a>
</li>
    <% }%>
</div>
