<h1>register page</h1>

<form action="restaurants/register" method="POST">
    <input placeholder="username" name="username">
    <input placeholder="password" name="password">
    <button type="submit">SignUp</button>
</form>

<a href="/login"> Login </a>